.table {
    width: 70%;
    padding: 15px;
    margin: 10px 20px;
    border-collapse: collapse;
}

.table thead {
    color: #938e8e;
    text-align: left;
    border-bottom: 1px solid lightgray
}

.table th {
    padding: 10px
}