body {
  background: #e7e7e7;
  margin: 0;
  padding: 0;
}

.container {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: white;
  overflow: inherit;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  text-align: right;
  border: 1px solid lightblue;
  background: white;
}

.header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header li {
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid  rgb(63, 88, 230);
  border-radius: 5px;
}

.header li a {
  color: rgb(63, 88, 230);
  text-decoration: none;
}

.content {
  padding: 10px;
}

.content h1 {
  text-align: center;
  color: blueviolet;
}